@import "variables.css";

html, body{
    min-height: 100vh;
    background-color: var(--page-background);
    color: var(--main-color);
}

#profile-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#display-data{
    width: 75vw;
    margin: 0;
}

#display-data section{
    padding-top: calc(var(--nav-height) + 3rem);
}