<?xml version="1.0" encoding="UTF-8"?>

<web-app>
 <display-name>Archetype Created Web Application</display-name>
 
 <filter>
 	<filter-name>AccessControllFilter</filter-name>
 	<display-name>AccessControllFilter</display-name>
 	<description></description>
 	<filter-class>filter.AccessControllFilter</filter-class>
 </filter>
 
 <filter-mapping>
 	<filter-name>AccessControllFilter</filter-name>
 	<url-pattern>/AccessControllFilter</url-pattern>
 </filter-mapping>
 
 <servlet>
 	<servlet-name>TestServlet</servlet-name>
 	<display-name>TestServlet</display-name>
 	<description></description>
 	<servlet-class>controllers.TestServlet</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>RegisterController</servlet-name>
 	<display-name>RegisterController</display-name>
 	<description></description>
 	<servlet-class>controllers.RegisterController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>LoginController</servlet-name>
 	<display-name>LoginController</display-name>
 	<description></description>
 	<servlet-class>controllers.LoginController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>LogoutController</servlet-name>
 	<display-name>LogoutController</display-name>
 	<description></description>
 	<servlet-class>controllers.LogoutController</servlet-class>
 </servlet>
 
 <!-- Servlet per gli Artisti -->
 
 <servlet>
 	<servlet-name>ReadArtistController</servlet-name>
 	<display-name>ReadArtistController</display-name>
 	<description></description>
 	<servlet-class>controllers.crud.artist.ReadController</servlet-class>
 </servlet> 
 
 <servlet>
 	<servlet-name>AddArtistController</servlet-name>
 	<display-name>AddArtistController</display-name>
 	<description></description>
 	<servlet-class>controllers.crud.artist.AddController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>EditArtistController</servlet-name>
 	<display-name>EditArtistController</display-name>
 	<description></description>
 	<servlet-class>controllers.crud.artist.EditController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>RemoveArtistController</servlet-name>
 	<display-name>RemoveArtistController</display-name>
 	<description></description>
 	<servlet-class>controllers.crud.artist.RemoveController</servlet-class>
 </servlet>
 
 <!-- Servlet per i tag -->
 
 <servlet>
 	<display-name>ReadTagController</display-name>
 	<servlet-name>ReadTagController</servlet-name>
 	<servlet-class>controllers.crud.tag.ReadController</servlet-class>
 </servlet>
 
 <servlet>
 	<display-name>AddTagController</display-name>
 	<servlet-name>AddTagController</servlet-name>
 	<servlet-class>controllers.crud.tag.AddController</servlet-class>
 </servlet>
 
 <servlet>
 	<display-name>EditTagController</display-name>
 	<servlet-name>EditTagController</servlet-name>
 	<servlet-class>controllers.crud.tag.EditController</servlet-class>
 </servlet>
 
 <servlet>
 	<display-name>RemoveTagController</display-name>
 	<servlet-name>RemoveTagController</servlet-name>
 	<servlet-class>controllers.crud.tag.RemoveController</servlet-class>
 </servlet> 	
 
 <!-- Servlet per le categorie di prodotti -->

 <servlet>
 	<display-name>ReadProductTypeController</display-name>
 	<servlet-name>ReadProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.ReadController</servlet-class>
 </servlet>
 
 <servlet>
 	<display-name>AddProductTypeController</display-name>
 	<servlet-name>AddProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.AddController</servlet-class>
 </servlet>
 
 <servlet>
 	<display-name>EditProductTypeController</display-name>
 	<servlet-name>EditProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.EditController</servlet-class>
 </servlet>
 
 <servlet>
 	<display-name>RemoveProductTypeController</display-name>
 	<servlet-name>RemoveProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.RemoveController</servlet-class>
 </servlet>
 
 <!-- Servlet per gli event -->
 
 <servlet>
 	<description>
 	</description>
 	<display-name>AddEventController</display-name>
 	<servlet-name>AddEventController</servlet-name>
 	<servlet-class>controllers.crud.event.AddController</servlet-class>
 </servlet>
 
 <servlet>
 	<description>
 	</description>
 	<display-name>ReadEventController</display-name>
 	<servlet-name>ReadEventController</servlet-name>
 	<servlet-class>controllers.crud.event.ReadController</servlet-class>
 </servlet>
 
 <servlet>
 	<description>
 	</description>
 	<display-name>EditEventController</display-name>
 	<servlet-name>EditEventController</servlet-name>
 	<servlet-class>controllers.crud.event.EditController</servlet-class>
 </servlet>
 
 <servlet>
 	<description>
 	</description>
 	<display-name>RemoveEventController</display-name>
 	<servlet-name>RemoveEventController</servlet-name>
 	<servlet-class>controllers.crud.event.RemoveController</servlet-class>
 </servlet> 
 
 
 
 <servlet-mapping>
 	<servlet-name>RegisterController</servlet-name>
 	<url-pattern>/RegisterController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>LoginController</servlet-name>
 	<url-pattern>/LoginController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>LogoutController</servlet-name>
 	<url-pattern>/LogoutController</url-pattern>
 </servlet-mapping>
 
 <!-- Servlet-mapping per gli artisti -->
 
 <servlet-mapping>
 	<servlet-name>ReadArtistController</servlet-name>
 	<url-pattern>/admin/artist/list</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>AddArtistController</servlet-name>
 	<url-pattern>/admin/artist/add</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>EditArtistController</servlet-name>
 	<url-pattern>/admin/artist/edit</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>RemoveArtistController</servlet-name>
 	<url-pattern>/admin/artist/delete</url-pattern>
 </servlet-mapping>
 
 <!-- Servlet-mapping per i tag -->
 
 <servlet-mapping>
 	<servlet-name>ReadTagController</servlet-name>
 	<url-pattern>/admin/tag/list</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>AddTagController</servlet-name>
 	<url-pattern>/admin/tag/add</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>EditTagController</servlet-name>
 	<url-pattern>/admin/tag/edit</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>RemoveTagController</servlet-name>
 	<url-pattern>/admin/tag/delete</url-pattern>
 </servlet-mapping>
 
 <!-- Servlet-mapping per le categorie di prodotti -->
 
 <servlet-mapping>
 	<servlet-name>ReadProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/list</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>AddProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/add</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>EditProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/edit</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>RemoveProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/delete</url-pattern>
 </servlet-mapping>
  
 <!-- Servlet-mapping per gli eventi -->
 
 <servlet-mapping>
 	<servlet-name>AddEventController</servlet-name>
 	<url-pattern>/admin/event/add</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>ReadEventController</servlet-name>
 	<url-pattern>/admin/event/list</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>EditEventController</servlet-name>
 	<url-pattern>/admin/event/edit</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>RemoveEventController</servlet-name>
 	<url-pattern>/admin/event/delete</url-pattern>
 </servlet-mapping>
 
 
 <jsp-config>
     <jsp-property-group>
         <url-pattern>*.jsp</url-pattern>
         <el-ignored>
             false
         </el-ignored>
         
     </jsp-property-group>
 </jsp-config>
</web-app>
