<?xml version="1.0" encoding="UTF-8"?>

<web-app>
 <display-name>Archetype Created Web Application</display-name>
 
 <filter>
 	<filter-name>AccessControllFilter</filter-name>
 	<display-name>AccessControllFilter</display-name>
 	<description></description>
 	<filter-class>filter.AccessControllFilter</filter-class>
 </filter>
 
 <filter-mapping>
 	<filter-name>AccessControllFilter</filter-name>
 	<url-pattern>/AccessControllFilter</url-pattern>
 </filter-mapping>
 
 <servlet>
 	<servlet-name>TestServlet</servlet-name>
 	<display-name>TestServlet</display-name>
 	<description></description>
 	<servlet-class>controllers.TestServlet</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>RegisterController</servlet-name>
 	<display-name>RegisterController</display-name>
 	<description></description>
 	<servlet-class>controllers.RegisterController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>LoginController</servlet-name>
 	<display-name>LoginController</display-name>
 	<description></description>
 	<servlet-class>controllers.LoginController</servlet-class>
 </servlet>
 
  <servlet>
 	<servlet-name>CheckEmailController</servlet-name>
 	<display-name>CheckEmailController</display-name>
 	<description></description>
 	<servlet-class>controllers.CheckEmailController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>LogoutController</servlet-name>
 	<display-name>LogoutController</display-name>
 	<description></description>
 	<servlet-class>controllers.LogoutController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>RemoveController</servlet-name>
 	<display-name>RemoveController</display-name>
 	<description></description>
 	<servlet-class>controllers.crud.artist.RemoveController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>AddController</servlet-name>
 	<display-name>AddController</display-name>
 	<description></description>
 	<servlet-class>controllers.crud.artist.AddController</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>EditController</servlet-name>
 	<display-name>EditController</display-name>
 	<description></description>
 	<servlet-class>controllers.crud.artist.EditController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>ReadProductTypeController</display-name>
 	<servlet-name>ReadProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.ReadController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>AddProductTypeController</display-name>
 	<servlet-name>AddProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.AddController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>EditProductTypeController</display-name>
 	<servlet-name>EditProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.EditController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>RemoveProductTypeController</display-name>
 	<servlet-name>RemoveProductTypeController</servlet-name>
 	<servlet-class>controllers.crud.product_type.RemoveController</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>RegisterController</servlet-name>
 	<url-pattern>/RegisterController</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
 	<servlet-name>LoginController</servlet-name>
 	<url-pattern>/LoginController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>CheckEmailController</servlet-name>
 	<url-pattern>/CheckEmailController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>LogoutController</servlet-name>
 	<url-pattern>/LogoutController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>RemoveController</servlet-name>
 	<url-pattern>/admin/artist/RemoveController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>AddController</servlet-name>
 	<url-pattern>/admin/artist/AddController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>EditController</servlet-name>
 	<url-pattern>/admin/artist/EditController</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ReadProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/list</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>AddProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/add</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>EditProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/edit</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>RemoveProductTypeController</servlet-name>
 	<url-pattern>/admin/product-type/delete</url-pattern>
 </servlet-mapping>
 
 <jsp-config>
     <jsp-property-group>
         <url-pattern>*.jsp</url-pattern>
         <el-ignored>
             false
         </el-ignored>
     </jsp-property-group>
 </jsp-config>
</web-app>
